.fullpage {
     height:100vh;
    width:100vw;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-x: hidden;
    overflow-y: hidden;
  }
 
.navigationbar {
      height:120px;
      width:100vw;
      text-align: right;
      padding-top: 20px;
      padding-right: 20px;
     font-weight: 900;
     font-size: 24px;
   
  }

  .floatingmenu{
    background-color:rgb(231, 43, 43);
    position: absolute ;
    width: auto;
    height: 120px;
    top: 0px;
    left:50px;
    display: flex;
    float: right;
    flex-direction:column; 
    }

  .nav{
    background-color:rgb(43, 231, 68);
    position: relative ;
    list-style: none;
    list-style-type: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    width:200px;
    height: auto;
    justify-content: center;
    float: left;
  }

  .hnav{
    //  -webkit-transform: rotate(-90deg);
    // -moz-transform: rotate(-90deg);
    // -o-transform: rotate(-90deg);
    // -ms-transform: rotate(-90deg);
    // transform: rotate(-90deg);
    }

  .vnav{
    justify-content: left;
    text-align: left;
    float: left;
    transform:translate(-5%, -25%);
  }

  .nav  a{
    background-color:rgb(231, 228, 43);
    color: rgb(22, 20, 20);
    text-decoration: none;
      a:hover {
        text-decoration: underline;
        cursor: pointer;
    }
 }

   .nav  ul li {
    background-color:rgb(43, 193, 231);
      display: flex;
      text-align:right;
      justify-content:center;
      align-content:center;
      flex-direction:column; /* column | row */
      text-decoration: none;
        padding-right: 0px; 
       margin-right: 0px;
      position: relative;
      font-weight: 500;
      font-size: 24px;
      color: rgb(22, 20, 20);
      a:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }
.hoveritem {
  width: 100%;
  //color: rgb(22, 20, 20);
  background-color:transparent;
}

.hoveritem:hover {
  text-decoration:underline;
  cursor: pointer;
  }
    
  .hitem{
    background-color:rgb(2, 14, 3);
    color: rgb(240, 232, 232);
     position:relative;
    text-align: right;
    justify-content:center;
    align-content:center;
    padding: 0px;
    margin: 0px;
    font-weight: 100;
    font-size: 20px;

      :hover {
        text-decoration: underline;
        cursor: pointer;
    }
  }
  .hitem:hover {
    text-decoration:underline;
    cursor: pointer;
    }

  
  