.fullpage {
 
    height:100vh;
    width:100vw;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-x: hidden;
    overflow-y: hidden;
  }
 
.navigationbar {
  //font-family: BariolBold;
       height:17%;
      width:100vw;
      text-align: right;
      padding-top: 20px;
      padding-right: 20px;
     font-weight: 900;
     font-size: 24px;
   
  }

  .floatingmenu{
    position: absolute ;
    width: auto;
    height: auto;
    top: 8%;
    left:10%;
    }

  .nav{
    list-style: none;
    list-style-type: none;
    position: relative ;
     list-style: none;
    list-style-type: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    width:auto;
    height: auto;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    flex-flow: nowrap;
  }

  .hnav{
    justify-content: start;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
      //background-color:   rgb(31, 245, 85);
    }

  .vnav{
    justify-content: center;
    // transform:translate(0%, 0%);

  }

  .nav  a{
    color: rgb(22, 20, 20);
    text-decoration: none;
      a:hover {
        text-decoration: underline;
        cursor: pointer;
    }
 }

   .nav  ul li {
      display: flex;
      justify-content:center;
      align-content:center;
      flex-direction:column; /* column | row */
      text-decoration: none;
      padding: 0px; 
      margin: 0px;
      position: relative;
      font-weight: 500;
      font-size: 24px;
      color: rgb(22, 20, 20);
      a:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }
.hoveritem {
  background-color:transparent;
}

.hoveritem:hover {
  text-decoration:underline;
  cursor: pointer;
  }
  
  .allitem{
    display: flex;
    flex-direction:row; 
    float: left;
  }
   
  .hitem{

    color: rgb(51, 47, 47);
     position:relative;
    text-align: left;
    justify-content:left;
    align-content:left;
    padding: 0px;
    margin: 0px;

      :hover {
        text-decoration: underline;
        cursor: pointer;
    }
  }
  .hitem:hover {
    text-decoration:underline;
    cursor: pointer;
    }


@media all and (max-width: 800px) {

  .navigationbar {
        height:25%;
        width:100vw;
        text-align: right;
        padding-top: 5px;
        padding-right: 5x;
        font-weight: 900;
        font-size: 24px;
    }

    .hnav
    {
       justify-content:center;
      // -webkit-transform: rotate(0deg);
      // -moz-transform: rotate(0deg);
      // -o-transform: rotate(0deg);
      // -ms-transform: rotate(0deg);
      // transform: rotate(0deg);
    }
    
    .floatingmenu{
        position: absolute ;
        width: 100vw;
        height: auto;
        top: 8%;
        left:0%;
       right:0%;
      }
}

@media all and (max-width: 600px) {
  
  .navigationbar {
    
         height:25%;
        width:100vw;
        text-align: right;
        padding-top: 5px;
        padding-bottom: 5px;
       font-weight: 900;
       font-size: 24px;
     
    }

 .hnav
{
    justify-content:center;
    // -webkit-transform: rotate(0deg);
    // -moz-transform: rotate(0deg);
    // -o-transform: rotate(0deg);
    // -ms-transform: rotate(0deg);
    // transform: rotate(0deg);
}

.floatingmenu{
    position: absolute ;
    width: 100vw;
    height: auto;
    top: 8%;
    left:0%;
    right:0%;
  }
 
}

  
  