.fullpage {
     height:100vh;
    width:100vw;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-x: hidden;
    overflow-y: hidden;
  }
 
.navigationbar {
      height:120px;
      width:100vw;
      text-align: right;
      padding-top: 20px;
      padding-right: 20px;
     font-weight: 900;
     font-size: 24px;
  }

  .dropdownmenu {
    position: relative;
    height:100px;
    width:120px;
    text-align: right;
    top: 0px;
    left:60;
   font-weight: 600;
   font-size: 20px;
   display: flex;
   float: left;
   padding-top: 15px;
   flex-direction:column; 

   -webkit-transform:  rotate(-90deg);
   -moz-transform: rotate(-90deg);
   -o-transform:  rotate(-90deg);
   -ms-transform:  rotate(-90deg);
   transform:  rotate(-90deg);

}


    
  .hoveritem{
    background-color:transparent;
    color: rgb(26, 25, 25);
     position:relative;
    text-align: right;
    justify-content:center;
    align-content:center;
    padding: 5px;
    margin: 0px;
    font-weight: 100;
    font-size: 20px;

  }

  .hoveritem:hover {
    text-decoration:underline;
    cursor: pointer;
    }

  .hoversubitem{
   color: rgb(70, 68, 68);
     padding-right: 10px;
     margin:2px;
    font-weight: 80;
    font-size: 16px;
   position:relative;
    text-align: right;
    justify-content:center;
    align-content:center;
   
  }

   .hoversubitem:hover {
    text-decoration:underline;
    cursor: pointer;
    }

 
  